03_servers/node_modules
03_servers/customServer/node_modules
03_servers/httpServerTask/node_modules
03_servers/httpServerTask/log.txt
04_express/node_modules
04_express/bookStore/node_modules
04_express/bookStore/log.txt
04_express/bookStore/.env
05_auth/node_modules